node_red/exercise_1_2.json
[{"id":"4b8dadf0.6710c4","type":"tab","label":"练习1","disabled":false,"info":"练习http相关的\n\n作为网站\n\nhttp://127.0.0.1:1880/test\n\n返回 `{\"test\":\"by wwj\"}`"},{"id":"5d7d7ce3.ec45f4","type":"tab","label":"练习2","disabled":false,"info":"# 练习内容\n\n* 订阅mqtt(input)\n* 播放mp3文件(audio)\n* 制作chart图表\n* 调用python\n* ifttt（todo）"},{"id":"ef565526.322b98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3440b187.541c9e","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"cef77460.7c4c18","type":"mqtt-broker","z":"","broker":"mqtt.just4fun.site","port":"1883","clientid":"note_red_test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ad6ada7e.1b4a18","type":"ui_link","name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"82e4cec2.c085f","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"a4499469.0b0598","type":"ui_group","name":"Group 1","tab":"82e4cec2.c085f","order":1,"disp":true,"width":6},{"id":"f344b5ad.90ef98","type":"http in","z":"4b8dadf0.6710c4","name":"","url":"/test","method":"get","swaggerDoc":"","x":180,"y":220,"wires":[["5e8ab372.77926c"]]},{"id":"4a155643.5ec568","type":"http response","z":"4b8dadf0.6710c4","name":"","x":710,"y":160,"wires":[]},{"id":"5e8ab372.77926c","type":"function","z":"4b8dadf0.6710c4","name":"","func":"msg.payload = {\"test\":\"by wwj\"}\nreturn msg","outputs":1,"noerr":0,"x":460.5,"y":219,"wires":[["4a155643.5ec568","2a478fed.d8dbe"]]},{"id":"2a478fed.d8dbe","type":"debug","z":"4b8dadf0.6710c4","name":"","active":true,"console":"false","complete":"payload","x":715.5,"y":311,"wires":[]},{"id":"8a992247.bbf7b","type":"http request","z":"4b8dadf0.6710c4","name":"","method":"GET","ret":"txt","url":"http://httpbin.org/get","tls":"","x":422.5,"y":683,"wires":[["9e3265f2.d04c48"]]},{"id":"9e3265f2.d04c48","type":"debug","z":"4b8dadf0.6710c4","name":"","active":true,"console":"false","complete":"payload","x":712.5,"y":691,"wires":[]},{"id":"22d09dde.116c62","type":"inject","z":"4b8dadf0.6710c4","name":"","topic":"","payload":"hehe","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.5,"y":693,"wires":[["8a992247.bbf7b"]]},{"id":"3ab1dca5.7bbb04","type":"mqtt in","z":"5d7d7ce3.ec45f4","name":"test","topic":"/test_node_red","qos":"2","broker":"cef77460.7c4c18","x":110,"y":160,"wires":[["b566842e.8d0e68"]]},{"id":"b566842e.8d0e68","type":"debug","z":"5d7d7ce3.ec45f4","name":"","active":true,"console":"false","complete":"payload","x":730,"y":240,"wires":[]},{"id":"71d2e63f.d3e8d8","type":"pythonshell in","z":"5d7d7ce3.ec45f4","name":"wwj_python","pyfile":"/tmp/a.py","x":190,"y":460,"wires":[["b566842e.8d0e68"]]},{"id":"5e11c25.a0a843c","type":"inject","z":"5d7d7ce3.ec45f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":240,"wires":[["b566842e.8d0e68","f4391f7d.3da61"]]},{"id":"f4391f7d.3da61","type":"ui_chart","z":"5d7d7ce3.ec45f4","name":"test","group":"a4499469.0b0598","order":0,"width":"6","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":350,"y":320,"wires":[[],[]]},{"id":"456cd564.3f511c","type":"ui_audio","z":"5d7d7ce3.ec45f4","name":"test","group":"a4499469.0b0598","voice":"en-US","always":true,"x":690,"y":60,"wires":[]},{"id":"bc4473b3.81be1","type":"file in","z":"5d7d7ce3.ec45f4","name":"test","filename":"/Users/wwj/Downloads/01.mp3","format":"","chunk":false,"sendError":false,"x":390,"y":60,"wires":[["456cd564.3f511c"]]},{"id":"d0f9bd32.6e4c3","type":"inject","z":"5d7d7ce3.ec45f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":40,"wires":[["bc4473b3.81be1"]]}]
